<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="css/smoothness/jquery-ui-1.8.18.custom.css" />
    <!--
    <script src="bootstrap/js/bootstrap.min.js"></script>
    -->
    <script src="js/jquery-1.7.1.min.js"></script>
    <script src="js/jquery-ui-1.8.18.custom.min.js"></script>
    
    <style type="text/css">
    ul.table-bordered {
        border-radius: 4px;
        border-left: 1px solid #DDDDDD;
        list-style-type: none;
        margin: 0;
    }
    /* ul.table-bordered li:first-child { */
    ul.table-bordered li:first-child {
        border-top: 0 none;
        vertical-align: bottom;
    }
    
    ul.table-bordered li.th {
        font-weight: bold;
        background: #efefef;
    }

    ul.table li {
        border-top: 1px solid #DDDDDD;
        height: 18px;
        padding: 8px;
        text-align: left;
        vertical-align: top;
        background: white;
    }
    </style>
    
    <script>
     
    $(function() {
		$('#produtos, #lista').sortable({
			connectWith: '.connectedSortable',
            cancel: '.th',
            cursor: 'move',
            forcePlaceholderSize: true,
            
            sort: function(event, ui) {
                var item = ui.item,
                    nomeProduto = item.html(),
                    itemNaLista = $('#lista').find('li:contains("' + nomeProduto.toString() + '")').length;

                if (itemNaLista > 0) item.remove();
                
            },
            
            start: function(){
                $('.th', this).each(function(){
                    var $this = $(this);
                    $this.data('pos', $this.index());
                });
            },
            
            change: function(){
                $sortable = $(this);
                $statics = $('.th', this).detach();
                $helper = $('<li></li>').prependTo(this);
                $statics.each(function(){
                    var $this = $(this);
                    var target = $this.data('pos');

                    $this.insertAfter($('li', $sortable).eq(target));
                });
                $helper.remove();
            }
		}).disableSelection();
	});
	</script>
    
    <title>New Document</title>
</head>
<body>
  <div class="container">
    <section>
        <div class="well">
            <h2>Listas Recentes</h2>
            <form class="">
                <fieldset>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th width="20">&nbsp;</th>
                                <th>Data</th>
                                <th>Qtd Produtos</th>
                                <th>Sugest&atilde;o</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a class="btn btn-primary btn-mini" href="#"><i class="icon-print icon-white"></i></a></td>
                                <td><label for="1">11/04/2012</label></td>
                                <td>20</td>
                                <td>Guanabara</td>
                                
                            </tr>
                            <tr>
                                <td><a class="btn btn-primary btn-mini" href="#"><i class="icon-print icon-white"></i></a></td>
                                <td><label for="2">02/04/2012</label></td>
                                <td>27</td>
                                <td>Extra</td>
                                
                            </tr>
                            <tr>
                                <td><a class="btn btn-primary btn-mini" href="#"><i class="icon-print icon-white"></i></a></td>
                                <td><label for="3">29/03/2012</label></td>
                                <td>18</td>
                                <td>Prezunic</td>
                                
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
        
        <div class="well">
            <h2>Nova Lista</h2>
            
            <form class="form-inline">
                <select id="grupos">
                    <option>Alimentos</option>
                    <option>Bebidas</option>
                    <option>Carnes</option>
                    <option>Frutas e Verduras</option>
                    <option>Padaria</option>
                    <option>Higiene</option>
                    <option>Laticinios</option>
                    <option>Limpeza</option>
                    <option>Outros</option>
                </select>
                <select id="letraInicial" class="input-mini">
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                    <option>D</option>
                    <option>E</option>
                    <option>F</option>
                    <option>G</option>
                    <option>H</option>
                    <option>I</option>
                </select>
                
                <button class="btn" type="submit">Filtrar</button>
            </form>
            
            <form class="">
                <fieldset>
                    
                    <div class="row-fluid">
                        
                        <div class="span6">
                            <div class="control-group">
                                
                                <div class="controls">
                                    <ul id="produtos" class="table table-bordered table-striped">
                                        <li class="th">Produtos cadastrados</li>
                                        <li>P&atilde;o de Forma Plus Vita</li>
                                        <li>Nescau</li>
                                        <li>Nescau</li>
                                        <li>Banana</li>
                                        <li>Leite</li>
                                        <li>Biscoito</li>
                                        <li>Queijo</li>
                                        <li>Presunto</li>
                                        <li>Carne</li>
                                        <li>Suco</li>
                                    </ul>
                                </div>
                            </div>
                     
                        </div>
                    
                        <div class="span6">
                            <div class="control-group">
                                <div class="controls">
                                    <ul id="lista" class="table table-bordered table-striped connectedSortable">
                                        <li class="th">Minha Lista</li>
                                    </ul>
                                        
                                </div>
                            </div>
                        
                        </div>
                        
                    </div>
                    
                    <div class="form-actions">
                        <button class="btn btn-primary btn-large" type="button">Salvar e Imprimir</button>
                        <button class="btn btn-large">Cancelar</button>
                    </div>
            
                </fieldset>
            </form>
        </div>
        
    </section>
    </div>
</body>
</html>
