<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="bootstrap/css/docs.css" />
    <script src="bootstrap/js/bootstrap.min.js"></script>
    
    <title>New Document</title>
</head>
<body>
  <div class="container">  
    <header>
        <div class="hero-unit">
            <h1>Guanabara</h1>
            <p>&Eacute; o mais indicado para sua lista.</p>
        </div>
    </header>
    
    <section>
        
        
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th rowspan="2" colspan="1">Descri&ccedil;&atilde;o</th>
                    <th rowspan="2" colspan="1">Quantidade</th>
                    <th>Pre&ccedil;os</th>
                    <th rowspan="2" colspan="1" width="20">&nbsp;</th>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>Guanabara</th>
                    <th>Extra</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>P&atilde;o de Forma Plus Vita</td>
                    <td>20</td>
                    <td>Guanabara</td>
                    <td><input name="listas" id="1" type="checkbox"/></td>
                </tr>
            </tbody>
        </table>
        
    </section>
  </div>
</body>
</html>
