<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="bootstrap/css/docs.css" />
    <link rel="stylesheet" href="bootstrap/css/style.css" />
    
    <title>listadecompras.net - Lista de Compras</title>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">listadecompras.net</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li><a href="1.html">Inicio</a></li>
                        <li><a href="#">Contato</a></li>
                    </ul>
                 </div>
            </div>
        </div>
    </div>


  <div class="container">  
   
    <section>
        
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th rowspan="2" width="20">&nbsp;</th>
                    <th rowspan="2">Descri&ccedil;&atilde;o</th>
                    <th rowspan="2" width="60">Quantidade</th>
                    <th rowspan="1" colspan="3">Pre&ccedil;os em R$</th>
                </tr>
                <tr>
                    <th width="60">Guanabara</th>
                    <th width="60">Extra</th>
                    <th width="60">Prezunic</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="2">TOTAL</td>
                    <td>40</td>
                    <td>30</td>
                    <td>30</td>
                    <td>30</td>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td><a class="btn btn-primary btn-mini" href="#"><i class="icon-minus icon-white"></i></a></td>
                    <td>P&atilde;o de Forma Plus Vita</td>
                    <td><input type="text" placeholder="" class="input-mini"></td>
                    <td class="price">10</td>
                    <td class="price">20</td>
                    <td class="price">30</td>
                </tr>
                <tr>
                    <td><a class="btn btn-primary btn-mini" href="#"><i class="icon-minus icon-white"></i></a></td>
                    <td>P&atilde;o de Forma Plus Vita</td>
                    <td><input type="text" placeholder="" class="input-mini"></td>
                    <td class="price">10</td>
                    <td class="price">20</td>
                    <td class="price">30</td>
                </tr>
                <tr>
                    <td><a class="btn btn-primary btn-mini" href="#"><i class="icon-minus icon-white"></i></a></td>
                    <td>P&atilde;o de Forma Plus Vita</td>
                    <td><input type="text" placeholder="" class="input-mini"></td>
                    <td class="price">10</td>
                    <td class="price">20</td>
                    <td class="price">30</td>
                </tr>
                <tr>
                    <td><a class="btn btn-primary btn-mini" href="#"><i class="icon-minus icon-white"></i></a></td>
                    <td>P&atilde;o de Forma Plus Vita</td>
                    <td><input type="text" placeholder="" class="input-mini"></td>
                    <td class="price">10</td>
                    <td class="price">20</td>
                    <td class="price">30</td>
                </tr>
                <tr>
                    <td><a class="btn btn-primary btn-mini" href="#"><i class="icon-minus icon-white"></i></a></td>
                    <td>P&atilde;o de Forma Plus Vita</td>
                    <td><input type="text" placeholder="" class="input-mini"></td>
                    <td class="price">10</td>
                    <td class="price">20</td>
                    <td class="price">30</td>
                </tr>
                <tr>
                    <td><a class="btn btn-primary btn-mini" href="#"><i class="icon-minus icon-white"></i></a></td>
                    <td>P&atilde;o de Forma Plus Vita</td>
                    <td><input type="text" placeholder="" class="input-mini"></td>
                    <td class="price">10</td>
                    <td class="price">20</td>
                    <td class="price">30</td>
                </tr>
                <tr>
                    <td><a class="btn btn-primary btn-mini" href="#"><i class="icon-minus icon-white"></i></a></td>
                    <td>P&atilde;o de Forma Plus Vita</td>
                    <td><input type="text" placeholder="" class="input-mini"></td>
                    <td class="price">10</td>
                    <td class="price">20</td>
                    <td class="price">30</td>
                </tr>
                <tr>
                    <td><a class="btn btn-primary btn-mini" href="#"><i class="icon-minus icon-white"></i></a></td>
                    <td>P&atilde;o de Forma Plus Vita</td>
                    <td><input type="text" placeholder="" class="input-mini"></td>
                    <td class="price">10</td>
                    <td class="price">20</td>
                    <td class="price">30</td>
                </tr>
                <tr>
                    <td><a class="btn btn-primary btn-mini" href="#"><i class="icon-minus icon-white"></i></a></td>
                    <td>P&atilde;o de Forma Plus Vita</td>
                    <td><input type="text" placeholder="" class="input-mini"></td>
                    <td class="price">10</td>
                    <td class="price">20</td>
                    <td class="price">30</td>
                </tr>
                <tr>
                    <td><a class="btn btn-primary btn-mini" href="#"><i class="icon-minus icon-white"></i></a></td>
                    <td>P&atilde;o de Forma Plus Vita</td>
                    <td><input type="text" placeholder="" class="input-mini"></td>
                    <td class="price">10</td>
                    <td class="price">20</td>
                    <td class="price">30</td>
                </tr>
                <tr>
                    <td><a class="btn btn-primary btn-mini" href="#"><i class="icon-minus icon-white"></i></a></td>
                    <td>P&atilde;o de Forma Plus Vita</td>
                    <td><input type="text" placeholder="" class="input-mini"></td>
                    <td class="price">10</td>
                    <td class="price">20</td>
                    <td class="price">30</td>
                </tr>
                <tr>
                    <td><a class="btn btn-primary btn-mini" href="#"><i class="icon-minus icon-white"></i></a></td>
                    <td>P&atilde;o de Forma Plus Vita</td>
                    <td><input type="text" placeholder="" class="input-mini"></td>
                    <td class="price">10</td>
                    <td class="price">20</td>
                    <td class="price">30</td>
                </tr>
                <tr>
                    <td><a class="btn btn-primary btn-mini" href="#"><i class="icon-minus icon-white"></i></a></td>
                    <td>P&atilde;o de Forma Plus Vita</td>
                    <td><input type="text" placeholder="" class="input-mini"></td>
                    <td class="price">10</td>
                    <td class="price">20</td>
                    <td class="price">30</td>
                </tr>
            </tbody>
        </table>
        
    </section>
  </div>
</body>
</html>
