<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="Stylesheet" href="{{ STATIC_URL }}jqmobile/jquery.mobile-1.1.0.min.css" />

    <script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
    <script src="{{ STATIC_URL }}jqmobile/jquery.mobile-1.1.0.min.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>

    {% block extra_head %} {% endblock %}

    <title>listadecompras.net</title>
</head>
<body>

    <div data-role="page">

        <div data-role="header">
            <h1>listadecompras.net</h1>
            <a class="ui-btn-right" data-iconpos="notext" data-icon="home" href="{% url index %}">Home</a>
        </div><!-- /header -->



        <div data-role="content">   
            {% block content %} {% endblock %}     
        </div><!-- /content -->

        <div data-role="footer" class="ui-bar" data-position="fixed" style="text-align: center">
            {% block footer %} {% endblock %}
        </div>

    </div><!-- /page -->

</body>
</html>
