<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="Stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" />
    <!-- <link rel="Stylesheet" href="{{ STATIC_URL }}bootstrap/css/docs.css" /> -->
    <link rel="Stylesheet" href="{{ STATIC_URL }}bootstrap/css/style.css" />
    <link rel="Stylesheet" href="{{ STATIC_URL }}css/main.css" />
    <link rel="Stylesheet" href="{{ STATIC_URL }}css/footer.css" />

    <script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>

    {% block extra_head %} {% endblock %}

    <title>listadecompras.net</title>
</head>
<body>
    <div class="wrapper">
        <!--
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="{% url lista-index %}">&nbsp;listadecompras.net</a>
                    
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class="active"><a href="{% url lista-index %}">Inicio</a></li>
                            <li><a href="#">Contato</a></li>
                        </ul>
                     </div>
                    
                </div>
            </div>
        </div>
        -->
        
        <div class="container-fluid">
            {% block content %} {% endblock %}
        </div>
    </div>

    {% block footer %} {% endblock %}

</body>
</html>
