<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" />

    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/docs.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/style.css" />

    <script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-1.8.18.custom.min.js"></script>

    {% block extra_head %} {% endblock %}

    <title>listadecompras.net - Nova lista</title>
</head>
<body>
    <div class="wrapper">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">listadecompras.net</a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class="active"><a href="#">Inicio</a></li>
                            <li><a href="#">Contato</a></li>
                        </ul>
                     </div>
                </div>
            </div>
        </div>

        <div class="container">
            {% block content %} {% endblock %}
        </div>
    </div>

    {% block footer %} {% endblock %}

</body>
</html>
