{% extends 'base.html' %}


{% block extra_head %}
    <script src="{{ STATIC_URL }}js/ajax_django.js"></script>
{% endblock %}

{% block content %}

    <form id="listaDeProdutos" method="POST" action="{% url lista-finalizar %}">
        {% csrf_token %}

        <ul data-role="listview" data-inset="true">
            <li data-role="list-divider">Se&ccedil;&otilde;es</li>
            {% for secao in secoes %}
                <li><a href="{% url lista-produtos-por-secao secao.id %}">{{ secao.nome }}</a></li>
            {% empty %}
                <li>Nenhuma se&ccedil;&atilde;o cadastrada</li>
            {% endfor %}
        </ul>
    </form>

{% endblock %}

{% block footer %}
    <a href="#" onclick="finalizar()" data-role="button" data-icon="arrow-r" data-iconpos="right" data-transition="slide">Finalizar</a>
    <a href="#" onclick="limparStorage()" data-role="button" data-icon="delete" data-iconpos="right" data-transition="slide">Cancelar</a>
{% endblock %}
