{% extends 'base.html' %}

{% block extra_head %}
    <style type="text/css">
        html, body { height: 100%; }
        footer {
            padding: 0 10px 0 10px;
            border-top: 1px solid #eee;
            color: white;
            background-color: #f5f5f5;
            position: relative;
        }

        footer > p {
            margin-bottom: 11px;
            margin-top: 13px;
            text-align: center;
        }

        .wrapper {
            min-height: 100%;
            height: auto !important;
            height: 100%;
            margin: 0 auto -65px;
        }

        .wrapper > .container-fluid, .wrapper > .container {
            padding-top: 60px;
        }

    </style>
    <script type="text/javascript">
        function atualizar() {
            var storage = sessionStorage;

            $('a.item').each(function(index) {
                if (storage.getItem(this.id) != null) {
                    this.childNodes[0].setAttribute("class", "icon-ok");
                } else {
                    this.childNodes[0].setAttribute("class", "icon-plus");
                }

            });
        }

        function adicionar(elemento) {
            var storage = sessionStorage,
                produto = elemento.parentNode.textContent,
                value = storage.getItem(elemento.id);
                //elemento.parent().text()

            if (value != null) {
                storage.removeItem(elemento.id);
                elemento.childNodes[0].setAttribute("class", "icon-plus");
            }
            else {
                storage.setItem(elemento.id, produto);
                elemento.childNodes[0].setAttribute("class", "icon-ok");
            }
        }

        function exibirProdutos(elemento) {
            var secao_id = $('#' + elemento.id + ' option:selected').val(),
                lista = $('#produtos');

            lista.empty();
            $.ajax({
                url: '/lista/produtos/' + secao_id + '/',
                success: function(retorno) {
                    $.each(retorno, function(i, item) {
                        lista.append('<li><a href="#" id="' + item.pk + '" class="item" onclick="adicionar(this)"><i class="icon-plus"></i>&nbsp;</a>' + item.fields['nome'] + '</li>');
                    });
                    atualizar();
                },
                error: function(data) {
                   lista.append('<li>Nenhum produto na se&ccedil;&atilde;o</li>');
                }
            });
        }

        function salvarLista() {
            var form = $('#listaDeProdutos'),
                storage = sessionStorage,
                listaDeIds = new Array();

            for (i = 0; i < storage.total; i++) {
                listaDeIds.push(storage.key(i));
            }
        }

        function limparStorage() {
            sessionStorage.clear();
            history.go(0);
        }
	</script>
{% endblock %}

{% block content %}

    <section>

        <form id="listaDeProdutos" class="">
            <fieldset>
                <div class="well">
                    <select id="grupos" onchange="exibirProdutos(this)">
                        <option value="0">Se&ccedil;&atilde;o</option>
                        {% for secao in secoes %}
                            <option value="{{ secao.id }}">{{ secao.nome }}</option>
                        {% empty %}
                            <option value="0">Nenhuma se&ccedil;&atilde;o cadastrada</option>
                        {% endfor %}
                    </select>
                    <div class="row-fluid">

                        <div class="span6">
                            <div class="control-group">
                                <div class="controls">
                                    <ul id="produtos" class="table table-bordered table-striped">
                                        <li>Selecione uma se&ccedil;&atilde;o acima.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </fieldset>
        </form>
    </section>
    <!--
    <section>
        <div class="">
            <h2>Listas Recentes</h2>
            <form class="">
                <fieldset>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th width="20">&nbsp;</th>
                                <th>Data</th>
                                <th>Qtd Produtos</th>
                                <th>Sugest&atilde;o</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a class="btn btn-primary btn-mini" href="#"><i class="icon-print icon-white"></i></a></td>
                                <td><label for="1">11/04/2012</label></td>
                                <td>20</td>
                                <td>Guanabara</td>
                            </tr>
                            <tr>
                                <td><a class="btn btn-primary btn-mini" href="#"><i class="icon-print icon-white"></i></a></td>
                                <td><label for="2">02/04/2012</label></td>
                                <td>27</td>
                                <td>Extra</td>
                            </tr>
                            <tr>
                                <td><a class="btn btn-primary btn-mini" href="#"><i class="icon-print icon-white"></i></a></td>
                                <td><label for="3">29/03/2012</label></td>
                                <td>18</td>
                                <td>Prezunic</td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </section>
    -->

{% endblock %}

{% block footer %}
    <footer class="container-fluid">
        <p>
            <button id="salvar" onclick="window.location.href='{% url lista-resumo %}'" class="btn btn-primary btn-large" type="button">Salvar</button>
            <button id="limpar" onclick="limparStorage()" class="btn btn-large" type="button">Limpar</button>
        </p>
    </footer>

    <script type="text/javascript">
        atualizar();
    </script>
{% endblock %}
