{% extends 'base.html' %}

{% block extra_head %}
    <script src="{{ STATIC_URL }}js/main.js"></script>
    <script>
        function paginaPrincipal() {
            window.location.href='{% url lista-resumo %}';
        }
    </script>
{% endblock %}

{% block content %}
    <section>

        <table class="table table-bordered tabela-resumo">
            <thead>
                <tr>
                    <th rowspan="2">Item</th>
                    <th rowspan="2" width="20">Qtd</th>
                    <th rowspan="1" colspan="{{ supermercados|length }}">Pre&ccedil;os em R$</th>
                </tr>
                <tr>
				    {% for supermercado in supermercados %}
                        <th width="60">{{ supermercado }}</th>
					{% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for secao, produtos in lista_de_compras.items %}
                    <tr><td colspan="2"><h2>{{ secao }}</h2></td><td colspan="{{ supermercados|length }}">&nbsp;</td></tr>

                    {% for produto, dados in produtos.items %}
                    <tr>
                        <td>{{ produto }}</td>
                        <td>{{ dados.quantidade }}</td>
                        
                        {% for supermercado, preco in dados.precos.items %}
                            <td class="price">
                                {% if preco > 0 %}
                                    {{ preco }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>

    </section>

{% endblock %}

{% block footer %}
    <footer class="container-fluid">
        <a href="{% url lista-index %}" id="logo">&nbsp;listadecompras.net</a>
        <p>
            <button id="limpar" onclick="paginaPrincipal()" class="btn btn-primary btn-large" type="button">Nova Lista</button>
        </p>
    </footer>
{% endblock %}
