{% extends 'base.html' %}


{% load sort_dict %}


{% block extra_head %}
<style type="text/css">
a.riscado {
    text-decoration: line-through;
}
</style>
{% endblock %}


{% block content %}
    <ul data-role="listview" data-inset="true">
        {% for secao, produtos in lista_de_compras.items|sortdict %}
            <li data-role="list-divider">{{ secao }}</li>
            {% for produto, dados in produtos.items|sortdict %}
                <li data-icon="false"><a href="#" class="riscado" id="item{{ dados.id }}" onclick="riscar(this)">{{ produto }}</a></li>
            {% endfor %}
        {% endfor %}
    </ul>

{% endblock %}



{% block footer %}
    
{% endblock %}