{% extends 'base.html' %}

{% block extra_head %}
    <script src="{{ STATIC_URL }}js/main.js"></script>
    <script>
        function paginaPrincipal() {
            window.location.href='{% url lista-resumo %}';
        }
    </script>
{% endblock %}

{% block content %}
    <section>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th rowspan="2">Item</th>
                    <th rowspan="2" width="20">Qtd</th>
                    <th rowspan="1" colspan="{{ supermercados|length }}">Pre&ccedil;os em R$</th>
                </tr>
                <tr>
				    {% for supermercado in supermercados %}
                        <th width="60">{{ supermercado }}</th>
					{% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for secao in secoes %}
                    <tr><td>{{ secao }}</td></tr>

                    {% for lista in secao %}
                        <td>{{ lista.produto }}</td>
                        <td>{{ lista.quantidade }}</td>
                        
                        {% for s in lista.supermercados %}
                            <td class="price">{{ preco.valor }}</td>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}

				
            </tbody>
        </table>

    </section>

{% endblock %}

{% block footer %}
    <footer class="container-fluid">
        <a href="{% url lista-index %}" id="logo">&nbsp;listadecompras.net</a>
        <p>
            <button id="salvar" onclick="paginaPrincipal()" class="btn btn-primary btn-large" type="button">Finalizar</button>
            <button id="voltar" onclick="paginaPrincipal()" class="btn btn-large" type="button">Voltar</button>
            <button id="limpar" onclick="limparStorage(); paginaPrincipal()" class="btn btn-large" type="button">Nova Lista</button>
        </p>
    </footer>
{% endblock %}
