{% extends 'base.html' %}


{% block content %}

    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">{{ secao }}</li>
        {% for produto in produtos %}
            <li id="{{ produto.id }}" class="produto" onclick="adicionar(this)"><a id="link{{ produto.id }}">{{ produto.nome }}</a></li>
        {% empty %}
            <li>Nenhum produto em {{ secao }}</li>
        {% endfor %}
    </ul>
    
{% endblock %}

{% block footer %}
    <a href="{% url index %}" data-role="button" data-icon="back" data-iconpos="right" data-transition="slide">Voltar</a>

    <script type="text/javascript">
        atualizar();
        //totalItensNaLista();
    </script>
{% endblock %}
