{% extends 'base.html' %}

{% block content %}
    <section>
        {% for item in lista %}
            <p>{{ item }}</p>
        {% endfor %}
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th rowspan="2" width="20">&nbsp;</th>
                    <th rowspan="2">Descri&ccedil;&atilde;o</th>
                    <th rowspan="2" width="60">Quantidade</th>
                    <th rowspan="1" colspan="3">Pre&ccedil;os em R$</th>
                </tr>
                <tr>
                    <th width="60">Guanabara</th>
                    <th width="60">Extra</th>
                    <th width="60">Prezunic</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="2">TOTAL</td>
                    <td>40</td>
                    <td>30</td>
                    <td>30</td>
                    <td>30</td>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td><a class="btn btn-primary btn-mini" href="#"><i class="icon-minus icon-white"></i></a></td>
                    <td>P&atilde;o de Forma Plus Vita</td>
                    <td><input type="text" placeholder="" class="input-mini"></td>
                    <td class="price">10</td>
                    <td class="price">20</td>
                    <td class="price">30</td>
                </tr>
                <tr>
                    <td><a class="btn btn-primary btn-mini" href="#"><i class="icon-minus icon-white"></i></a></td>
                    <td>P&atilde;o de Forma Plus Vita</td>
                    <td><input type="text" placeholder="" class="input-mini"></td>
                    <td class="price">10</td>
                    <td class="price">20</td>
                    <td class="price">30</td>
                </tr>
                <tr>
                    <td><a class="btn btn-primary btn-mini" href="#"><i class="icon-minus icon-white"></i></a></td>
                    <td>P&atilde;o de Forma Plus Vita</td>
                    <td><input type="text" placeholder="" class="input-mini"></td>
                    <td class="price">10</td>
                    <td class="price">20</td>
                    <td class="price">30</td>
                </tr>
                <tr>
                    <td><a class="btn btn-primary btn-mini" href="#"><i class="icon-minus icon-white"></i></a></td>
                    <td>P&atilde;o de Forma Plus Vita</td>
                    <td><input type="text" placeholder="" class="input-mini"></td>
                    <td class="price">10</td>
                    <td class="price">20</td>
                    <td class="price">30</td>
                </tr>
                <tr>
                    <td><a class="btn btn-primary btn-mini" href="#"><i class="icon-minus icon-white"></i></a></td>
                    <td>P&atilde;o de Forma Plus Vita</td>
                    <td><input type="text" placeholder="" class="input-mini"></td>
                    <td class="price">10</td>
                    <td class="price">20</td>
                    <td class="price">30</td>
                </tr>
                <tr>
                    <td><a class="btn btn-primary btn-mini" href="#"><i class="icon-minus icon-white"></i></a></td>
                    <td>P&atilde;o de Forma Plus Vita</td>
                    <td><input type="text" placeholder="" class="input-mini"></td>
                    <td class="price">10</td>
                    <td class="price">20</td>
                    <td class="price">30</td>
                </tr>
                <tr>
                    <td><a class="btn btn-primary btn-mini" href="#"><i class="icon-minus icon-white"></i></a></td>
                    <td>P&atilde;o de Forma Plus Vita</td>
                    <td><input type="text" placeholder="" class="input-mini"></td>
                    <td class="price">10</td>
                    <td class="price">20</td>
                    <td class="price">30</td>
                </tr>
                <tr>
                    <td><a class="btn btn-primary btn-mini" href="#"><i class="icon-minus icon-white"></i></a></td>
                    <td>P&atilde;o de Forma Plus Vita</td>
                    <td><input type="text" placeholder="" class="input-mini"></td>
                    <td class="price">10</td>
                    <td class="price">20</td>
                    <td class="price">30</td>
                </tr>
                <tr>
                    <td><a class="btn btn-primary btn-mini" href="#"><i class="icon-minus icon-white"></i></a></td>
                    <td>P&atilde;o de Forma Plus Vita</td>
                    <td><input type="text" placeholder="" class="input-mini"></td>
                    <td class="price">10</td>
                    <td class="price">20</td>
                    <td class="price">30</td>
                </tr>
                <tr>
                    <td><a class="btn btn-primary btn-mini" href="#"><i class="icon-minus icon-white"></i></a></td>
                    <td>P&atilde;o de Forma Plus Vita</td>
                    <td><input type="text" placeholder="" class="input-mini"></td>
                    <td class="price">10</td>
                    <td class="price">20</td>
                    <td class="price">30</td>
                </tr>
                <tr>
                    <td><a class="btn btn-primary btn-mini" href="#"><i class="icon-minus icon-white"></i></a></td>
                    <td>P&atilde;o de Forma Plus Vita</td>
                    <td><input type="text" placeholder="" class="input-mini"></td>
                    <td class="price">10</td>
                    <td class="price">20</td>
                    <td class="price">30</td>
                </tr>
                <tr>
                    <td><a class="btn btn-primary btn-mini" href="#"><i class="icon-minus icon-white"></i></a></td>
                    <td>P&atilde;o de Forma Plus Vita</td>
                    <td><input type="text" placeholder="" class="input-mini"></td>
                    <td class="price">10</td>
                    <td class="price">20</td>
                    <td class="price">30</td>
                </tr>
                <tr>
                    <td><a class="btn btn-primary btn-mini" href="#"><i class="icon-minus icon-white"></i></a></td>
                    <td>P&atilde;o de Forma Plus Vita</td>
                    <td><input type="text" placeholder="" class="input-mini"></td>
                    <td class="price">10</td>
                    <td class="price">20</td>
                    <td class="price">30</td>
                </tr>
            </tbody>
        </table>
        
    </section>

{% endblock %}

{% block footer %}
    <footer class="container-fluid">
        <p>
            <button id="salvar" onclick="window.location.href='{% url lista-resumo %}'" class="btn btn-primary btn-large" type="button">Salvar</button>
            <button id="limpar" onclick="limparStorage()" class="btn btn-large" type="button">Limpar</button>
        </p>
    </footer>
{% endblock %}
