{% extends 'base.html' %}

{% block extra_head %}
    <script src="{{ STATIC_URL }}js/main.js"></script>
    <script src="{{ STATIC_URL }}js/ajax_django.js"></script>
    <script>
        function paginaPrincipal() {
            window.location.href='{% url lista-resumo %}';
        }
    </script>
{% endblock %}

{% block content %}
    <section>

        <table class="table table-bordered tabela-resumo">
            <thead>
                <tr>
                    <th>Item</th>
                    <th width="20">Qtd</th>
                </tr>
            </thead>
            <tbody>
				{% for produto in lista %}
					<tr>
                        <td>{{ produto }}</td>
                        <td><input id="{{ produto.id }}" name="{{ produto.id }}" type="text" class="input-mini quantidade" value="1" onkeypress="return teclaSoPodeSerNumero(event)" maxlength="4"></td>
					</tr>
				{% endfor %}
            </tbody>
        </table>

    </section>

{% endblock %}

{% block footer %}
    <footer class="container-fluid">
        <a href="{% url lista-index %}" id="logo">&nbsp;listadecompras.net</a>
        <p>
            <button id="salvar" onclick="finalizarLista()" class="btn btn-primary btn-large" type="button">Finalizar</button>
            <button id="voltar" onclick="paginaPrincipal()" class="btn btn-large" type="button">Voltar</button>
            <button id="limpar" onclick="limparStorage(); paginaPrincipal()" class="btn btn-large" type="button">Nova Lista</button>
        </p>
    </footer>
{% endblock %}
