{% extends 'base.html' %}

{% block content %}
    <section>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th rowspan="2" width="20">&nbsp;</th>
                    <th rowspan="2">Produto</th>
                    <th rowspan="1" colspan="3">Pre&ccedil;os em R$</th>
                </tr>
                <tr>
				    {% for supermercado in supermercados %}
                        <th width="60">{{ supermercado }}</th>
					{% endfor %}
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="2">TOTAL</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
            <tbody>
				{% for item in lista %}
					{% if item|length > 0 %}
						<tr>
							<td><a href="#" onclick="remover(this)"><i class="icon-remove"></i></a></td>
							{% for preco in item %}
								{% if forloop.first %}
									<td>{{ preco.produto }}</td>
								{% endif %}
								<td class="price">
  								    {% if preco.preco > 0 %}
									    {{ preco.preco }}
									{% else %}
									    -
								    {% endif %}
								</td>
							{% endfor %}
						</tr>
					{% endif %}
				{% endfor %}
            </tbody>
        </table>

    </section>

{% endblock %}

{% block footer %}
    <footer class="container-fluid">
        <p>
            <button id="salvar" onclick="window.location.href='{% url lista-resumo %}'" class="btn btn-primary btn-large" type="button">Salvar</button>
            <button id="limpar" onclick="limparStorage()" class="btn btn-large" type="button">Limpar</button>
        </p>
    </footer>
{% endblock %}
